@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
*,
*::before,
*::after {
    font-family: "Plus Jakarta Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #9FA1FF;
    background: linear-gradient(90deg, rgba(159, 161, 255, 1) 0%, rgba(181, 186, 255, 1) 50%);
}
.container {
    background-color: #D9F9DF;
    border-radius: 1.5rem;
    padding: 1rem 0;
    max-width: 100%;
    -webkit-box-shadow: 0px 0px 25px -4px #000000; 
    box-shadow: 0px 0px 25px -4px #000000;
}
header {
    height: 150px;
    border-bottom: 1px solid rgb(172, 134, 134);
    display: flex;
    align-items: center;
    padding: 1rem;
}
.display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.178);
    border-radius: .75rem;
    width: 100%;
    height: 50%;
}
.results {
    padding: 1rem;
    font-size: 2rem;
}
.calc-buttons {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
}
.calc-buttons button {
    background-color: #AEE2FF;
    border: none;
    outline: none;
    border-radius: 2rem;
    padding: .5rem 1rem;
    transition: background-color 0.2s ease;
}

.calc-buttons button:hover {
    background-color: #B5BAFF;
}

.double-column {
    grid-column-start: span 2;
}
